<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceNamespace" value="[[SERVICE_BUS_NAMESPACE]]"/>
    <add key="ServiceKey" value="[[SERVICE_BUS_ACCESS_KEY]]"/>
    <add key="ServiceKeyName" value="RootManageSharedAccessKey"/>
    <add key="ServicePath" value="generator"/>
    <add key="LocalAddress" value="net.tcp://localhost:9358/generator"/>
    <add key="TemplateName" value="[[CERTIFICATE_AUTHORITY_TEMPLATE]]"/>
    <add key="CertificateAuthority" value="[[CERTIFICATE_AUTHORITY_PATH]]"/>
    <add key="CertificatePath" value="C:\CERTREQ"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
